  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(15, 15, 15);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

body{
    padding: 0px;
    margin: 0%;
    background-image: url(background.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    } 

h1{
    display: flex;
    justify-content: center;
    color:white;
    font-size:100px;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}

p1{
    display: flex;
    justify-content: center;
    color:white;
    font-size:32px;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}

p2{  
    display: flex;
    justify-content: center;
    color:white;
    font-size:32px;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}
